<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.spa.mapper.MemberMapper">

	<!-- 회원리스트 -->
    <select id="getAllMemberList" resultType="MemberVo">
        SELECT 
        	USERIDX,
        	USERID,
        	USERNAME,
        	USERPW,
        	USERAUTH,
        	REGDATE,
        	USEAGE
        FROM 
        	SPAUSER;
    </select>
    
	<!-- 회원정보 -->
    <select id="getMemberDetail" parameterType="String" resultType="MemberVo">
        SELECT 
        	USERIDX,
        	USERID,
        	USERNAME,
        	USERPW,
        	USERAUTH,
        	REGDATE,
        	USEAGE
        FROM 
        	SPAUSER
        WHERE
        	USERID =  #{userName}
    </select>
    
	<!-- 가입회원 -->
    <select id="isMemeber" parameterType="String" resultType="int">
        SELECT 
			COUNT(*)
        FROM 
        	SPAUSER
        WHERE
        	USERID =  #{userEmail}
    </select>
    
	<!-- 사용 닉네임 -->
    <select id="isNameUsed" parameterType="String" resultType="int">
        SELECT 
			COUNT(*)
        FROM 
        	SPAUSER
        WHERE
        	USERNAME =  #{userName}
    </select>
    
	<!-- 가입회원 -->
    <insert id="joinMember" parameterType="MemberVo">
        INSERT INTO SPAUSER(
        	USERID,
        	USERPW,
        	USERNAME,
        	USERAUTH,
        	REGDATE,
        	MODDATE,
        	USEAGE
        ) VALUES (
        	#{userId},
        	#{userPw},
        	#{userName},
        	'U',
        	NOW(),
        	NOW(),
        	'Y'
        )
    </insert>
    
    <update id="updatePassword" parameterType="MemberVo">
    	UPDATE 
    		SPAUSER 
    	SET 
    		USERPW = #{userPw}
   		WHERE
   			USERID = #{userId}
    </update>

</mapper>